body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  text-align: center;
}
//
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
  text-align: center;
}

.calendarContainer {
  width: 90%;
}
.time-block {
  text-align: left;
  color: black;
  padding: 20px;
}
.timeDivFormat {
  color: black;
  font-size: 1em;
}

.row {
  white-space: pre-wrap;
  height: 110px;
  border-top: 1px solid white;
  padding-right: 0px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  margin-right: 15px;
  margin-left: 15px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 2px dashed #000000;
  border-right: 2px dashed #000000;
  text-align: right;
  font-size: 1.4em;
  padding: 10px;
  font-weight: bold;
}

.icon {
  display: flex;
  width: 20px;
  height: auto;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #06aed5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.saveBtn:active {
  transform: translateY(4px);
}

